<!DOCTYPE html>

<html>

<head>
	<title>Intro to Backbone.js</title>
	<script id="people-tpl" type="text/x-template-underscore">
		<table>
			<tr>
				<td>First Name</td>
				<td>Last Name</td>
				<td>Action</td>
			</tr>
			<% for (var x=0; x<data.length; x++) { %>
				<tr>
					<td><%- data[x].firstName %></td>
					<td><%- data[x].lastName %></td>
					<td><a href="#person/<%- data[x].id %>">View</a> | <a href="#person/<%- data[x].id %>/edit">Edit</a></td>
				</tr>
			<% } %>
		</table>
	</script>
	<script id="view-person-tpl" type="text/x-template-underscore">
		<div>
			First Name: <%- data.firstName %>
		</div>
		<div>
			Last Name: <%- data.lastName %>
		</div>
	</script>
	<script id="edit-person-tpl" type="text/x-template-underscore">
		<div>
			First Name: <input type="text" value="<%- data.firstName %>" id="person-first-name">
		</div>
		<div>
			Last Name: <input type="text" value="<%- data.lastName %>" id="person-last-name">
		</div>
		<button>Save</button>
	</script>
</head>

<body>
	<div id="content"></div>
	<script src="libs/jquery.js"></script>
	<script src="libs/underscore.js"></script>
	<script src="libs/backbone.js"></script>
	<script>

		var people = new Backbone.Collection();
		people.add(new Backbone.Model({ id: 1, firstName: "Bob", lastName: "Smith" }));
		people.add(new Backbone.Model({ id: 2, firstName: "Tim", lastName: "Jones" }));
		people.add(new Backbone.Model({ id: 3, firstName: "Scott", lastName: "Waters" }));

		var CollectionView = Backbone.View.extend({

			initialize: function(options) {
				this.template = _.template($(options.templateId).html(), { variable: "data" });
			},

			render: function($parent) {
				console.dir(this.collection.toJSON());
				this.$el.html(this.template(this.collection.toJSON()));
				$parent.append(this.$el);
			}

		});

		var ItemView = Backbone.View.extend({

			initialize: function(options) {
				this.template = _.template($(options.templateId).html(), { variable: "data" });
			},

			render: function($parent) {
				this.$el.html(this.template(this.model.toJSON()));
				$parent.append(this.$el);
			}

		});

		var EditItemView = ItemView.extend({

			events: {
				"click button": "saveItem"
			},

			saveItem: function() {
				this.trigger("saveItem");
			}

		});

		var AppRouter = Backbone.Router.extend({

			routes: {
				"": "homeRoute",
				"contact": "contactRoute",
				"people": "peopleRoute",
				"person/(:personId/)edit": "editPersonRoute",
				"person/:personId": "viewPersonRoute",
			},

			homeRoute: function() {
				console.log("home route");
			},

			contactRoute: function() {
				console.log("contact route");
			},

			peopleRoute: function() {
				console.log("people route");

				if (this.currentView) {
					this.currentView.remove();
				}

				this.currentView = new CollectionView({
					collection: people,
					templateId: "#people-tpl"
				});
				this.currentView.render($("#content"))

			},

			viewPersonRoute: function(personId) {
				console.log("view person route: " + personId);

				if (this.currentView) {
					this.currentView.remove();
				}

				this.currentView = new ItemView({
					model: people.get(personId),
					templateId: "#view-person-tpl"
				});
				this.currentView.render($("#content"))

			},

			editPersonRoute: function(personId) {

				var that = this;

				console.log("edit person route: " + personId);

				if (this.currentView) {
					this.currentView.remove();
				}

				this.currentView = new EditItemView({
					model: people.get(personId),
					templateId: "#edit-person-tpl"
				});

				this.currentView.on("saveItem", function() {

					this.model.set({
						firstName: this.$el.find("#person-first-name").val(),
						lastName: this.$el.find("#person-last-name").val(),
					});

					that.navigate("people", { trigger: true });

				});

				this.currentView.render($("#content"))

			}
		});

		var appRouter = new AppRouter();

		Backbone.history.start();

		console.dir(appRouter);


	</script>
</body>

</html>
